<% layout("/layouts/boilerplate")%>
    <h3>  Each  specific detail</h3>
    <ul>
        <li><%=List.title%></li>
        <li><%=List.description%></li>
        <li><%=List.price%></li>
        <li><%=List.location%></li>
        <li><%=List.country%></li>
    </ul>
    <div class="row-8 offset-3">
        <h4> leave a review !!</h4>
        <form> 
            <div>
                <label for="rating">rating</label>
<input type="range" min="1" max="5" id="rating"  name="review[rating]" >
            </div>
            <div>
                <label for="comment">comment</label>
            <textarea name="review[comment]" id="comment" rows="20" cols="20"> 
            </textarea>
            </div>
            <button> submit details</button>


        </form>
    </div>
